span.invalid-message {
    color: red;
}

.action-buttons {
    display: flex;
    align-items: center;
    gap: 5px;
}

.action-buttons .btn {
    margin: 0;
}

.action-buttons .form {
    margin: 0;
}

#imagePreview {
    display: none;
    margin-top: 10px;
    max-width: 23%;
    height: auto;
}

input[switch=danger]:label {
    background-color: red;
}

.chosen-container-single .chosen-single, .chosen-container-multi{
    background: #f9f9f6 !important;
    padding: 7px 7px !important;
    height: 38px!important;
    /* font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)))!important; */
    border: 1px solid #ced4da !important;
}

.chosen-container-multi{
    padding: 0!important;
}

.chosen-container-multi .chosen-choices{
    background: #f9f9f6 !important;
    padding: 10px 10px !important;
    height: 38px!important;
    border: 1px solid #ced4da !important;
}

.chosen-container-single .chosen-single div b{
    margin-top: 10px!important;
}

.d-color-code{
    border: 1px solid; 
    border-radius: 4px; 
    height: 1.2rem; 
    width: 1.2rem; 
}

/* Hide number input arrows */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
}


/* Virtual Keyboard */
#keypad {
    display: none; /* Hide the keypad initially */
    position: absolute;
    top: 60px;
    left: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 9999;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.border-divider{
    border: 1px solid #666;
    border-style: dashed;
}

.color-box{
    height: 25px;
    width: 25px;
    border: 1px solid #000;
    cursor: pointer;
}

.size-box{
    border: 1px solid #000;
    padding: 6px 0;
    cursor: pointer;
}

.color-box.selected, .size-box.selected{
    border: 2px solid #000;
}

.color-box.selected{
    border-radius: 4px;
}
